numpy
opencv-python
matplotlib
pandas
seaborn
scikit-learn
albumentations==0.4.3
diffusers
pudb==2019.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
pyspng==0.1.0 
blobfile
pyproject-toml
mpi4py
pytorch-lightning
omegaconf
streamlit>=0.73.1
einops==0.3.0
torch-fidelity==0.3.0
transformers==4.19.2
torchmetrics==0.6.0
kornia==0.6
seaborn
torchinfo
hydra
hydra-optuna-sweeper
mlflow
https://github.com/NVlabs/stylegan2/tree/master/dnnlib
